body{
    background-color: rgb(31, 29, 29);
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 80%;
}

.link-button{
    color: lightgray;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient( deeppink, purple );
    padding: 10px 40px;
    border-radius: 5px;
}

h1{
    font-size: 70px;
    color: lightgray;
}

h2{
    font-size: 40px;
}

h3{
    color: lightgray;
}

p{
    color: deepskyblue;
}

.name{
    color: deeppink;
    margin: 0px
}

.heading{
    color: deepskyblue;
    margin-bottom: 0px;
    margin: 0px;
}

.intro{
    color: deepskyblue;
}

.top-banner{
    margin-top: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left top 0%;
}

.middle-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right top 0px;
    margin-bottom: 0px;
}

.image2{
    max-width:100%;
    height:100%;
}

.experience{
    margin-left: 0px;
    margin-bottom: 0px;
}

.experience-area{
    background-image: url(images/circle-5122.png);
    background-repeat: no-repeat;   
    background-position: left 0px top 150px;
    margin-bottom: 100px;
}

.single-experience{
    box-shadow: 10px 10px 120px deeppink;
    margin: 0px 2%;
    padding: 3%;
}

.single-experience-i{
    box-shadow: 10px 10px 105px deepskyblue;
    margin: 0px 2%;
    padding: 3%;
}

.left-border{
    border-left: 10px solid;
    color: rgb(237, 0, 126);
    border-radius: 5px;
}

.left-border-i{
    border-left: 10px solid;
    color: deepskyblue;
    border-radius: 5px;
}

footer p{
    text-align: center;
    padding: 1%;
    margin-bottom: 0px;
}

.footer-span{
    color: deeppink;
    padding: 5px;
    border-left: 5px solid;
}